*~
*.swp
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/pentatelnet
src/pentatelnet-telnetd.o
src/stamp-h1

